<!DOCTYPE html>
<html>

<head>
	<title>SisOp_VM</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
</head>

<body>
	<script>
		$('body').terminal({

		    run: function(file){
		    	// const options = $.terminal.parse_options(args);
		    	// options.url || 
				return fetch('http://localhost:8080/cpu_execute?file=' + file)
		            .then(r => r.text())
		            .then(html => html.match(/<CPU>[^>]+<\/CPU>/)[0]);
		    },

		    load: function(...args){
		    	const options = $.terminal.parse_options(args);
		    	if(options.memory){
		    		return fetch('http://localhost:8080/cpu_load_memory?file=' + options.memory)
		            			.then(r => r.text());
		    	} else if (options.cpu){
		    		return fetch('http://localhost:8080/cpu_load?file=' + options.cpu)
		            			.then(r => r.text());
		    	}
		    },

			// dump: function(instance){
		 //    	const options = $.terminal.parse_options(args);
		 //    	// options.url || 
			// 	return fetch('http://localhost:8080/cpu_execute?file=' + file)
		 //            .then(r => r.text())
		 //            .then(html => html.match(/<CPU>[^>]+<\/CPU>/)[0]);
		 //    },


		    get: async function(path) {
		        let res = await fetch(path);
		        return res.text();
    		},

		    cls: function(){
		        this.exec('clear');
		        this.echo(  'Sistemas Operacionais. Maquina virtual,\n'+
							'Cleyson Braga de Oliveira');
		    },

		    help: function(){
		    	this.echo(
		    		"\n>> Help section ~" +
		    		"\n	cls: Limpa o terminal;"+
		    		"\n load"
	    		);
		    }

		}, {
			checkArity: false,
		    greetings: 	'Sistemas Operacionais. Maquina virtual,\n'+
						'Cleyson Braga de Oliveira'
		});
	</script>
</body>

</html>