<!DOCTYPE html>
<html>

<head>
	<title>SisOp_VM</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
</head>

<body>
	<script>
		$('body').terminal({

		    run: function(file){
		    	// const options = $.terminal.parse_options(args);
		    	// options.url || 
				return fetch('http://localhost:8080/cpu_execute?file=' + file)
		            .then(r => r.text())
		            .then(html => html.match(/<CPU>[^>]+<\/CPU>/)[0]);
		    },

		    load: function(...args){
		    	const options = $.terminal.parse_options(args);
		    	let params
		    	let urn

		    			if(options.memory)	{	urn = "cpu_load_memory"; params = options.memory; }
		    	else 	if(options.cpu)		{	urn = "cpu_load"; params = options.cpu; }
		    	else 	if(options.direct)	{ params = options.direct; }
		    	else						{ this.error('Invalid argument'); return }


		    	if(options.direct){ 
		    		return fetch('http://localhost:8080/cpu_load_memory?file=' + params)
        				.then( res => res.text() )
        				.then( exp => {
								if(exp == ""){
									return fetch('http://localhost:8080/cpu_load?file=' + params)
										.then( re => re.text() )
										.then( ex => { if(ex != ""){ return ex } } )
								} else { return exp	}
    						});
		    	} else {
		    		return fetch('http://localhost:8080/' + urn + '?file=' + params)
		            			.then(res => res.text())
		            			.then(exp => { if(exp != ""){ return exp } });
		    	}
		    },

		    dump: function(...args){
		    	const options = $.terminal.parse_options(args);

		    		this.echo(options.memory.page);

		    	return options.memory.page
		    },

		    // dump: function(...args){
		    // 	const options = $.terminal.parse_options(args);
		    // 	let params
		    // 	let urn

		    // 			if(options.memory)	{	urn = "cpu_load_memory"; params = options.memory; }
		    // 	else 	if(options.cpu)		{	urn = "cpu_load"; params = options.cpu; }
		    // 	else 	if(options.page)	{ params = options.direct; }
		    // 	else						{ this.error('Invalid argument'); return }


		    // 	if(options.direct){ 
		    // 		return fetch('http://localhost:8080/cpu_load_memory?file=' + params)
      //   				.then( res => res.text() )
      //   				.then( exp => {
						// 		if(exp == ""){
						// 			return fetch('http://localhost:8080/cpu_load_memory?file=' + params)
						// 				.then( re => re.text() )
						// 				.then( ex => { if(ex != ""){ return ex } } )
						// 		} else { return exp	}
    		// 				});
		    // 	} else {
		    // 		return fetch('http://localhost:8080/' + urn + '?file=' + params)
		    //         			.then(res => res.text())
		    //         			.then(exp => { if(exp != ""){ return exp } });
		    // 	}
		    // },



		    get: async function(path) {
		        let res = await fetch(path);
		        return res.text();
    		},

		    cls: function(){
		        this.exec('clear');
		        this.echo(  'Sistemas Operacionais. Maquina virtual,\n'+
							'Cleyson Braga de Oliveira');
		    },

		    help: function(){
		    	this.echo(
		    		"\n>> Help section ~" +
		    		"\n	cls: Limpa o terminal;"+
		    		"\n load"
	    		);
		    }

		}, {
			checkArity: false,
			completion: true,
		    greetings: 	'Sistemas Operacionais. Maquina virtual,\n'+
						'Cleyson Braga de Oliveira'
		});
	</script>
</body>

</html>